[phases.setup]
nixPkgs = ["python311", "git"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "pip install git+https://$GITHUB_TOKEN@github.com/ai-emerald/emerald-component-library.git"
]

[start]
cmd = "python app.py"
